/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Oswald', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



h3 {
    color: white;
    font-size: 26px;
    width: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
#div_partie {
    position: absolute;
    top: 0;
}
#div_partie > p ,ul ,li {
    font-size: 18px;
    color: white;
    font-style: italic;
}
#result {
    letter-spacing: 10px;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 0%;
}
#current-player {
    color: red;
    font-weight: bold;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.726);
    padding: 8px;
    border-radius: 20px;
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;

    background-image: url("aram.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: aquamarine;
}
#plateau {
    align-self: center;
    background-image: url("abime.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.row {
    width: 100%;
    display: flex;
    box-sizing: border-box;
}
.cases {
    min-height: 80px;
    width: 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.281);
}
.cases:hover {
    border: 1px solid rgb(45, 160, 64);
    cursor: pointer;
}
.cases_interdites {
    background-color: rgb(0, 0, 0);
    height: 30px;
    border: none;
}
.cases_interdites:hover {
    cursor: not-allowed;
    border: none;
}
.joueur-un {
    border-radius: 50px;
    background-image: url("azir.jpg");
    background-position: -40px 0px;
    background-size: 250%;
    background-repeat: no-repeat;
    animation-name: ceststyle1;
    animation-duration: .5s;
}
.joueur-deux {
    border-radius: 50px;
    background-image: url("yone.jpg");
    background-position: -90px 0px;
    background-size: 300%;
    background-repeat: no-repeat;
    animation-name: ceststyle2;
    animation-duration: .5s;
}

@keyframes ceststyle1 {
    from {
        filter: drop-shadow(16px 16px 20px red) invert(55%);
    }
    to {
        filter: drop-shadow(0px 0px 0px red) invert(0%);
    }
}
@keyframes ceststyle2 {
    from {
        filter: drop-shadow(16px 16px 20px rgb(54, 35, 228)) invert(55%);
    }
    to {
        filter: drop-shadow(0px 0px 0px rgb(36, 47, 212)) invert(0%);
    }
}