/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  /* font-family: 'Oswald', sans-serif; */
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h3 {
  color: white;
  font-size: 26px;
  width: 100%;
  text-align: center;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Animation d'apparition */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Appliquer l'animation au texte */
.fade-in {
  opacity: 0;
  /* Initialement caché */
  animation: fadeInUp 2s ease forwards;
}

#div_partie {
  position: absolute;
  top: 0;
}

#div_partie > p, ul, li {
  font-size: 18px;
  color: white;
  font-style: italic;
}

#result {
  display: none;
  letter-spacing: 10px;
  font-weight: bold;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 0%;
}

#current-player {
  color: red;
  font-weight: bold;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.726);
  padding: 8px;
  border-radius: 20px;
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  background-image: url("aram.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-color: aquamarine;
}

#plateau {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  background-image: url("abime.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cases {
  min-height: 80px;
  width: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.281);
}

.cases:hover {
  border: 1px solid #2da040;
  cursor: pointer;
}

.cases_interdites {
  background-color: black;
  height: 30px;
  border: none;
}

.cases_interdites:hover {
  cursor: not-allowed;
  border: none;
}

.joueur-un {
  border-radius: 50px;
  background-image: url("azir.jpg");
  background-position: -40px 0px;
  background-size: 250%;
  background-repeat: no-repeat;
  -webkit-animation-name: ceststyle1;
          animation-name: ceststyle1;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

.joueur-deux {
  border-radius: 50px;
  background-image: url("yone.jpg");
  background-position: -90px 0px;
  background-size: 300%;
  background-repeat: no-repeat;
  -webkit-animation-name: ceststyle2;
          animation-name: ceststyle2;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

@-webkit-keyframes ceststyle1 {
  from {
    -webkit-filter: drop-shadow(16px 16px 20px red) invert(55%);
    filter: drop-shadow(16px 16px 20px red) invert(55%);
  }
  to {
    -webkit-filter: drop-shadow(0px 0px 0px red) invert(0%);
    filter: drop-shadow(0px 0px 0px red) invert(0%);
  }
}

@keyframes ceststyle1 {
  from {
    -webkit-filter: drop-shadow(16px 16px 20px red) invert(55%);
    filter: drop-shadow(16px 16px 20px red) invert(55%);
  }
  to {
    -webkit-filter: drop-shadow(0px 0px 0px red) invert(0%);
    filter: drop-shadow(0px 0px 0px red) invert(0%);
  }
}

@-webkit-keyframes ceststyle2 {
  from {
    -webkit-filter: drop-shadow(16px 16px 20px #3623e4) invert(55%);
    filter: drop-shadow(16px 16px 20px #3623e4) invert(55%);
  }
  to {
    -webkit-filter: drop-shadow(0px 0px 0px #242fd4) invert(0%);
    filter: drop-shadow(0px 0px 0px #242fd4) invert(0%);
  }
}

@keyframes ceststyle2 {
  from {
    -webkit-filter: drop-shadow(16px 16px 20px #3623e4) invert(55%);
    filter: drop-shadow(16px 16px 20px #3623e4) invert(55%);
  }
  to {
    -webkit-filter: drop-shadow(0px 0px 0px #242fd4) invert(0%);
    filter: drop-shadow(0px 0px 0px #242fd4) invert(0%);
  }
}
/*# sourceMappingURL=style.css.map */